<div class="container">
  <div class="container__header">
    <h1>Lista de Tareas</h1>
  </div>
  <div class="filter-buttons">
    <button class="filter-button" (click)="setFiltro('todos')">Todos</button>
    <button class="filter-button" (click)="setFiltro('completados')">Completados</button>
    <button class="filter-button" (click)="setFiltro('pendientes')">Pendientes</button>
  </div>
  <div class="container__content">
    <ol>
      <li *ngFor="let task of filteredTasks">
        <div class="task">
          <div class="task-header">
            <div>
            <button *ngIf="!task.completed" (click)="completedTask(task.id)">
              <span *ngIf="!task.completed">🕖</span> 
            </button>
            <span *ngIf="task.completed">✅</span> 
            <span class="task-name"> {{task.name}}</span>
            </div>
            <div>
              <span class="task-date">{{task.date}} </span>
              <span>{{ task.completed ? 'Completado' : 'Pendiente' }}</span>
            </div>
          </div>
          <div class="people-title">Personas asociadas:</div>
          <div class="person" *ngFor="let people of task.people">
            <span class="person-name">{{people.fullName}}</span> -
            <span class="person-age">{{people.age}} años</span>
            <div class="skills">Habilidades:</div>
            <span class="skill">{{people.skills}}</span>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>